body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: skyblue;

}

a:link,
a:visited {
    background-color: #000000;
    color: rgb(255, 255, 255);
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
